<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.tanyueran.mapper.CloudFileMapper">
  <resultMap id="BaseResultMap" type="com.github.tanyueran.modal.CloudFile">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="file_type" jdbcType="VARCHAR" property="fileType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
</mapper>